body {
  text-align: center;
  background-color: black;
}

h1, h2, h3 {
  position: absolute;
  color: white;
}

.left {
  left: 250px;
}

.right {
  left: 1150px;
}

.title {
  top: 150px;
}

.freq {
  top: 500px;
}

#trace{
  position:absolute;
  width:90vmin;
  height:90vmin;
  top:5%;
  margin: 0 auto;
  left:0;
  right:0;
}
