@font-face {
  font-family: neutra;
  src: url('./fonts/NeutrafaceSlabText-Demi.otf');
}

@font-face {
  font-family: avenir;
  src: url('./fonts/Avenir-Heavy.ttf');
}

body {
  text-align: center;
  background-color: rgba(237, 235, 214, 0.35);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

h1, h2, h3 {
  color: rgba(44, 44, 44, 1);
  font-family: neutra;
}

h1 {
  font-size: 4em;
  margin-bottom: 0px;
}

h1.es {
  font-size: 2.6em;
  margin-top: 0px;

}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
  margin: 0px;
}

h3.es {
  font-size: 1.9em;
}

p {
  font-family: avenir;
}

div {
  position: absolute;
}

.en {
  color: rgba(217, 83, 30, 1);
}

.es {
  color: rgba(0, 120, 174, 1);
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.title {
  position: absolute;
  top: 0%;
  text-align: center;
  width:100%;
}

#left_sine_0 {
  position: absolute;
  left: 25.5%;
}

#right_sine_0 {
  position: absolute;
  bottom:7px;
}

#left_sine_1 {
  position: absolute;
  left: 7.5%;
  top: 60%;
  background-color: rgba(255,255,255,1);
}

#right_sine_1 {
  position: absolute;
  right: 8%;
  top: 67%;
  background-color: rgba(255,255,255,1);
}

.h-flip{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.rot-90{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.freq {
  top:45%;
}

.freq h2 {
  font-family: avenir;
  margin-top: 0px;
}

.units {
  font-size: 0.5em;
}

.tooltip {
  border-radius: 5px;
  pointer-events: none;
}

.tooltip .tiptext {
  margin: 0px 10px;
  padding: 10px;
  white-space: nowrap;
  font-size: 1.6em;
  line-height: 0.5em;
}

.shadow {
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.4);
}

.shadow-2 {
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.15);
}

.shadow-3 {
  -webkit-box-shadow: 3px -3px 10px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px -3px 10px -1px rgba(0,0,0,0.15);
  box-shadow: 3px -3px 10px -1px rgba(0,0,0,0.15);
}

.overlay {
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0px;
  top: 0px;
}

.dialog {
  width:40%;
  top: 20%;
  background: rgba(255, 255, 255, 1);
  padding:80px 180px;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

#trace{
  position:absolute;
  width:75vmin;
  height:75vmin;
  top:20%;
  margin: 0 auto;
  left:0;
  right:0;
}
