@font-face {
  font-family: neutra;
  src: url('assets/fonts/NeutrafaceSlabText-Demi.otf');
}

body {
  text-align: center;
  background-color: rgba(237, 235, 214, 0.35);
}

h1, h2, h3, p {
  color: rgba(44, 44, 44, 1);
  font-family: 'sans', 'helvetica';
}

div {
  position: absolute;
}

.en {
  color: rgba(217, 83, 30, 1);
}

.es {
  color: rgba(0, 120, 174, 1);
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.title {
  position: absolute;
  top: 150px;
}

.left_vis {
  position: absolute;
  left: 50px;
}

.right_vis {
  position: absolute;
  right: 50px;
}

.freq {
  top: 500px;
}

.units {
  font-size: 0.5em;
}

.tooltip {
  border-radius: 5px;
  background: white;
  pointer-events: none;
}

.tooltip .tiptext {
  margin: 0px 10px;
  padding: 10px;
  white-space: nowrap;
}

.shadow {
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.5);
}

.overlay {
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0px;
  top: 0px;
}

.dialog {
  width:33%;
  top: 30%;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

#trace{
  position:absolute;
  width:90vmin;
  height:90vmin;
  top:5%;
  margin: 0 auto;
  left:0;
  right:0;
}
